

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="over">
      <h1>Crud-Toka</h1>
      <mat-nav-list *ngFor="let route of routes">
        <a [routerLink]="[route.path]" routerLinkActive="router-link-active" 
        (click)="sidenav.toggle()"
              mat-list-item>
              <mat-icon mat-list-icon>{{route.icon}}</mat-icon>
            <span>
              {{route.title | uppercase}}
            </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
        <mat-toolbar-row>
            <button mat-icon-button 
                   (click)="sidenav.toggle()">
                <mat-icon>segment</mat-icon>
            </button>

        </mat-toolbar-row>
    </mat-toolbar> 

    <router-outlet></router-outlet>
 </mat-sidenav-container>