

.card {
    border: none;
    border-radius: 0;
    width: 420px !important;
    margin: 0 auto;
    background-color: #000!important;
}

.signup {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px 50px;
 
}
h1{
    color: teal!important;
}
input {
    width: 100%;
    display: block;
    margin-bottom: 7px
}

.form-control {

    letter-spacing: 1px
}